.user-details-container {
    width: 95%;
    padding: 15px;
    /* border: solid red 2px; */
    margin: auto;
    margin-top: 10px;
}

mat-card {
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: end;
    /* margin: auto; */
    gap: 10px;
}

.data {
    display: flex;
    justify-content: space-around;
}

.title {
    display: flex;
    justify-content: space-between;
}

.user-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

mat-spinner {
    margin: auto;
}

@media screen and (min-width: 700px) {
    .user-details-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .buttons {
        flex-direction: column;
        margin: 0;
        gap: 20px;
    }

}