@if(user){
    <mat-card class="title">

        <h2>Dettagli utente:</h2>
    </mat-card>
<div class="user-details-container">
    <mat-card>
        <div class="user-status" [ngClass]="{'red': user.status == 'inactive', 'green': user.status == 'active'}"></div>
        <h3><strong>{{user.name}}</strong></h3>
        <h4><strong>{{user.email}}</strong></h4>
        <p><strong>Genere:</strong> {{user.gender}}</p>
        <p><strong>Id:</strong> {{user.id}}</p>
        <div class="buttons">
            <button mat-raised-button (click)="openCreatePost(false)" [disabled]="createPost">
                <mat-icon>edit</mat-icon>Crea post
            </button>
            <button mat-raised-button color="warn" (click)="deleteUser()">
                <mat-icon>delete</mat-icon>Elimina
            </button>
        </div>
    </mat-card>
    <!-- <mat-divider></mat-divider> -->
    @if(createPost){
    <app-create-post [userId]="user.id" (closeCreatePostComponent)="openCreatePost($event)"></app-create-post>
    }
    @if(postsList && postsList.length > 0){
    <mat-card class="subTitle">
        <h2>Post dell'utente: {{postsList.length}}</h2>
    </mat-card>
    @for(post of postsList; track post){
    <app-post-card [post]="post"></app-post-card>
    }
    }
</div>
}
@else{
<mat-spinner></mat-spinner>
}