<mat-card>
    <h1>Crea un nuovo utente</h1>
    <form [formGroup]="controlGroup" class="create-user-card">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Mario Rossi" formControlName="name" required>
            @if (controlGroup.get('name')?.invalid) {
            <mat-error>{{getErrorMessage("name")}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="mario@example.com" formControlName="email" required>
            @if (controlGroup.get('email')?.invalid) {
            <mat-error>{{getErrorMessage("email")}}</mat-error>
            }
        </mat-form-field>
        <div class="multiple-choice">

            <mat-form-field class=>
                <mat-label>Sesso</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="male">Maschio</mat-option>
                    <mat-option value="female">femmina</mat-option>
                </mat-select>
                @if (controlGroup.get('gender')?.invalid) {
                <mat-error>{{getErrorMessage("gender")}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class=>
                <mat-label>Stato</mat-label>
                <mat-select formControlName="status">
                    <mat-option value="active">Attivo</mat-option>
                    <mat-option value="inactive">Inattivo</mat-option>
                </mat-select>
                @if (controlGroup.get('status')?.invalid) {
                <mat-error>{{getErrorMessage("status")}}</mat-error>
                }
            </mat-form-field>
        </div>

    </form>
    <div class="buttons">
        <button mat-raised-button (click)="createUser()" [disabled]="controlGroup.invalid">
            <mat-icon>add</mat-icon>Crea utente
        </button>
        <button mat-raised-button color="warn" (click)="clearForm()">
            <mat-icon>cancel</mat-icon>Cancella
        </button>
    </div>
</mat-card>