.navbar-container {
    display: flex;
    flex-direction: column;
    /* border-bottom: 2px solid black; */
    width: 95%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(127, 192, 252);
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

.title {
    margin-top: 10px;
    text-align: center;
}

/* button {
    background-color: rgb(185, 221, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: red 2px solid;
    margin: auto;
} */

.buttons-text{
    margin:auto;
}

.selected{
    border: 3px solid green;
}

@media screen and (max-width: 400px) {
    .buttons-text{
        display: none;
    }
}