mat-card{
    /* margin:auto; */
    margin-top: 10px;
    /* width:95%; */
    text-align: justify;
    /* padding: 50px; */
    /* border:red 2px solid; */
}

mat-card-footer{
    display: flex;
    justify-content: end;
    padding: 10px;
}
mat-expansion-panel{
    margin-top:10px;
}
.add-comment-button{
    display: flex;
    justify-content: end;
}