mat-card {
    background-color: rgb(185, 221, 255);
    width: 95%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

.title {
    text-align: center;
    width: 70%;
    background-color: rgb(127, 192, 252);
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 5px;
}

.first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    /* gap: 10px; */
    background-color: rgb(185, 221, 255);
}

.type{
    width: 120px;
}

.request {
    width: 95%;
    max-width: 500px;
}

.title-results {
    text-align: center;
}

.results {
    width: 95%;
    margin: auto;
}

.load-more-button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

@media screen and (min-width: 425px) {
    .first-row {
        flex-direction: row;
        gap: 10px;
    }

}