mat-card {
    background-color: rgb(185, 221, 255);
    width: 95%;
    margin: auto;
}
.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap:5px;
}
.search>input {
    border: solid 1px blue;
}

.first-row{
    border: solid 2px red;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width:100%;
    /* height: fit-content; */
    padding-top: 5px;
    background-color: rgb(185, 221, 255);

}
.request {
    width: 70%;
}

.type {
    width: 25%;
    margin-left: 10px;
}
mat-card{
    padding: 10px;
    margin-top: 10px;
}

.absolute-button{
    position: absolute;
    bottom:10px;
    right: 10px;
}

.results{
    width: 95%;
    margin: auto;
}