.search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.search>input {
    border: solid 1px blue;
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}
.request {
    width: 70%;
}

.type {
    width: 25%;
    margin-left: 10px;
}
mat-card{
    padding: 10px;
    margin-top: 10px;
}

.absolute-button{
    position: absolute;
    bottom:10px;
    right: 10px;
}