<div class="list-container">
    @if(typeOfObj == 'users' || typeOfObj == 'posts'){
    <mat-card class="title">
        <button mat-icon-button color="primary" class="add-buttonn" (click)="createObj()">
            <mat-icon>add</mat-icon>
        </button>
        <h2>{{typeOfObjName[typeOfObj]}}</h2>
        <button mat-icon-button color="primary" class="add-buttonn" (click)="goToSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-card>
    }
    @if(typeOfObj == 'users'){
    @for(user of userList; track $index){
    <app-user-card-minimal [user]="user" (deleteUserEvent)="deleteUser($event)"></app-user-card-minimal>
    }
    }
    @if (typeOfObj == 'posts') {
    @for(post of postList; track $index){
    <app-post-card [post]="post"></app-post-card>
    }
    }
    <button mat-raised-button color="primary" class="load-more-button" (click)="loadMore()">
        <mat-icon>add</mat-icon>Carica altri risulatati
    </button>
</div>