.user-details-container {
    width: 95%;
    margin: 10px auto;
}

mat-card {
    padding: 10px;
    background-color: rgb(185, 221, 255);
}

.title {
    text-align: center;
    width: 70%;
    background-color: rgb(127, 192, 252);
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.data {
    display: flex;
    justify-content: space-around;
}

.user-status {
    position:absolute;
    right: 10px;
    top: 10px;
    width: 15%;
    max-width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 0 3px 0 100%;
    background-color: grey;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

mat-spinner {
    margin: auto;
}
.subTitle{
    background-color: rgb(127, 192, 252);
    width: 75%;
    margin:auto;
    margin-top:5px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .user-details-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .buttons {
        margin: 0;
        gap: 20px;
    }

}
