.login{
    display: flex;
    flex-direction: column;
    width:95%;
    margin:auto;
    max-width: 600px;
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
}
button{
    max-width: 200px;
    margin: auto;
}
h3{
    text-align: center;
}
p{
    padding: 10px;
    text-justify: inter-word;
}
mat-form-field{
    margin-top: 10px;
}