<div class="login">
    <h3><strong>Attenzione: </strong></h3>
    <p>Per accedere al servizio bisogna prima essere in possesso di un token di autenticazione dal sito <a
            href="https://gorest.co.in">gorest.co.in</a>,
        clicca
        sul pulsante per accedere al sito e generare il token</p>
    <button mat-stroked-button color="primary" (click)="goToTokenUrl()">
        <mat-icon>add</mat-icon>Richiedi token
    </button>
    <mat-form-field>
        <mat-label>Token</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="tokenControl">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="checkToken()" [disabled]="!tokenControl.valid">
        <mat-icon>login</mat-icon>Invia token
    </button>
</div>